server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Routes are now defined in GatewayConfig.java to properly apply authentication filters
      # The Java-based configuration allows for programmatic filter application
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: shelve-secret-key-for-jwt-token-generation-minimum-256-bits-required
