server:
  port: 8084

spring:
  application:
    name: review-rating-service
  datasource:
    url: jdbc:postgresql://localhost:5435/shelve_reviews
    username: shelve
    password: shelve123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
