server:
  port: 8083

spring:
  application:
    name: shelf-service
  datasource:
    url: jdbc:postgresql://localhost:5434/shelve_shelves
    username: shelve
    password: shelve123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
